Repository jinglemansweep/portfolio-action: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

Update package-lock.json
  package-lock.json
Due: none

Add multi-context visibility system and experience_company flag
  CLAUDE.md
  README.md
  demo/site.yml
  src/lib/compile/yaml.js
  src/lib/generate/manifest.js
  src/lib/utils/strip-visibility.js
  template/components/layout/app-shell.js
  test/fixtures/full/site.yml
  test/fixtures/visibility-hidden/site.yml
  test/unit/compile-yaml.test.js
  test/unit/generate-manifest.test.js
  test/unit/strip-visibility.test.js
Due: eslint --fix, prettier --write

Derive site title/description from resume, restructure location
  CLAUDE.md
  README.md
  demo/resume.yml
  demo/site.yml
  src/lib/compile/seo.js
  src/lib/compile/yaml.js
  src/lib/index.js
  src/lib/utils/validate.js
  template/components/layout/app-shell.js
  template/components/layout/nav-bar.js
  template/components/layout/site-footer.js
  template/components/section/hero.js
  test/fixtures/blog/resume.yml
  test/fixtures/blog/site.yml
  test/fixtures/full/resume.yml
  test/fixtures/full/site.yml
  test/fixtures/i18n-override/resume.yml
  test/fixtures/i18n-override/site.yml
  test/fixtures/minimal/resume.yml
  test/fixtures/minimal/site.yml
  test/fixtures/visibility-hidden/resume.yml
  test/fixtures/visibility-hidden/site.yml
  test/integration/full-build.test.js
  test/unit/compile-seo.test.js
  test/unit/compile-yaml.test.js
  test/unit/generate-index.test.js
  test/unit/strip-visibility.test.js
  test/unit/validate.test.js
Due: eslint --fix, prettier --write

Fix mobile skill scroll-to landing at wrong position
  template/components/skill/explorer.js
Due: eslint --fix, prettier --write

Added PDF gen plan/tasks docs
  .planning/stages/02-pdf-gen/PLAN.md
  .planning/stages/02-pdf-gen/TASKS.md
Due: none

Add docx dependency for DOCX resume generation
  package-lock.json
  package.json
Due: none

Add DOCX generator with all resume sections
  src/lib/generate/docx.js
Due: eslint --fix, prettier --write

Add DOCX generator unit tests
  test/unit/generate-docx.test.js
Due: eslint --fix, prettier --write

Add resume PDF HTML template shell
  template/resume-pdf.html
Due: none

Add resume HTML template builder for PDF generation
  src/lib/generate/resume-html.js
Due: eslint --fix, prettier --write

Add PDF generator with Puppeteer wrapper
  src/lib/generate/pdf.js
Due: eslint --fix, prettier --write

Add unit tests for resume HTML builder and PDF generator
  test/unit/generate-pdf.test.js
  test/unit/generate-resume-html.test.js
Due: eslint --fix, prettier --write

Add documents config defaults and validation
  src/lib/compile/yaml.js
  src/lib/utils/validate.js
  test/unit/compile-yaml.test.js
  test/unit/validate.test.js
Due: eslint --fix, prettier --write

Wire document generation into CLI and build pipeline
  src/cli.js
  src/lib/index.js
Due: eslint --fix, prettier --write

Add PDF input and Chrome setup to action.yml
  action.yml
Due: none

Replace PDF export labels with download labels in all language packs
  i18n/ar.yml
  i18n/de.yml
  i18n/en.yml
  i18n/es.yml
  i18n/fr.yml
  i18n/it.yml
  i18n/ja.yml
  i18n/nl.yml
  i18n/pt.yml
  i18n/zh.yml
Due: prettier --write

Replace pdf-export component with download links in navbar
  template/components/layout/app-shell.js
  template/components/layout/nav-bar.js
  template/components/ui/pdf-export.js
Due: eslint --fix, prettier --write

Add documents config to demo and test fixtures
  demo/site.yml
  test/fixtures/full/site.yml
  test/fixtures/visibility-hidden/site.yml
Due: none

Add integration tests for document generation
  test/integration/docx-build.test.js
  test/integration/full-build.test.js
  test/integration/pdf-build.test.js
Due: eslint --fix, prettier --write

Update CI workflow for document generation
  .github/workflows/ci.yml
Due: none

Add puppeteer dependency and demo:docs script
  package-lock.json
  package.json
  test/integration/blog-filtering.test.js
  test/integration/pdf-build.test.js
Due: eslint --fix, prettier --write

Fix document download URLs doubling the base path
  template/components/layout/nav-bar.js
Due: eslint --fix, prettier --write

Fix SPA router intercepting document download links
  template/components/layout/app-shell.js
Due: eslint --fix, prettier --write

Improve document layout with contact icons and skill filtering
  src/lib/generate/docx.js
  src/lib/generate/resume-html.js
  test/unit/generate-docx.test.js
  test/unit/generate-resume-html.test.js
Due: eslint --fix, prettier --write

Fix print-visibility items missing from PDF/DOCX output
  src/lib/index.js
  src/lib/utils/strip-visibility.js
  test/unit/strip-visibility.test.js
Due: eslint --fix, prettier --write

Render skills as compact inline badges sorted by experience
  src/lib/generate/docx.js
  src/lib/generate/resume-html.js
  test/unit/generate-resume-html.test.js
Due: eslint --fix, prettier --write

Fix trailing "@ " in skill cards when experience company is hidden
  src/lib/compile/crossref.js
  template/components/skill/card.js
  test/unit/compile-crossref.test.js
Due: eslint --fix, prettier --write

Render project description markdown in build pipeline
  src/lib/index.js
  test/integration/full-build.test.js
Due: eslint --fix, prettier --write

Generate static route pages to fix search bot 404s
  src/lib/compile/seo.js
  src/lib/generate/index.js
  src/lib/generate/route-pages.js
  src/lib/index.js
  template/index.html
  test/integration/full-build.test.js
  test/unit/compile-seo.test.js
  test/unit/generate-index.test.js
  test/unit/generate-route-pages.test.js
Due: eslint --fix, prettier --write

Update package-lock.json from npm install
  package-lock.json
Due: none

feat: add favicon interpolation to build pipeline
  .plans/.gitkeep
  .plans/20260226/01-favicon-site-logo/issues.md
  .plans/20260226/01-favicon-site-logo/plan.md
  .plans/20260226/01-favicon-site-logo/prompt.md
  .plans/20260226/01-favicon-site-logo/research.md
  .plans/20260226/01-favicon-site-logo/tasks.md
  src/lib/generate/index.js
  src/lib/index.js
  template/404.html
  template/index.html
Due: eslint --fix, prettier --write

feat: add conditional site logo to nav bar
  .plans/20260226/01-favicon-site-logo/tasks.md
  template/components/layout/nav-bar.js
Due: eslint --fix, prettier --write

chore: set favicon paths in test fixture and demo site config
  .plans/20260226/01-favicon-site-logo/tasks.md
  demo/site.yml
  test/fixtures/full/site.yml
Due: none

test: add favicon and apple-touch-icon tests
  .plans/20260226/01-favicon-site-logo/tasks.md
  test/integration/full-build.test.js
  test/unit/generate-index.test.js
Due: eslint --fix, prettier --write

Added agentmap
  .agentmap.yaml
Due: none

Path conditions:
  eslint --fix: ((any of: src/**/*.js) or (any of: test/**/*.js)) or (any of: template/**/*.js)
  prettier --write: (((any of: src/**/*.js) or (any of: test/**/*.js)) or (any of: template/**/*.js)) or (any of: i18n/**/*.yml)
